################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Project sem 2/FileContentIndex
/.vs/Project_sem2/v17/ipch/AutoPCH/5841ce59ff65572e/PROJECT.ipch
/.vs/Project_sem2/v17/ipch/AutoPCH/97ed995d66345166/TRY.ipch