################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Project sem 2/FileContentIndex
/.vs/Project sem 2/v17/ipch/AutoPCH/7e809db328a0fc3b
